# Turtles and Data

This notebook will use what is probably the largest turtles command data set ever assembled (that said, we only spent about 5 minutes looking before just making one). Using this notebook and our previous knowledge of turtles, let's learn some basics about data and pandas in Python with turtles.

## Pandas

Pandas (Python Data Analysis Library, name derived from PANel DAta) is a free library for Python which makes loading and manipulating data more straightforward by taking advantage of something known as a **data frame**. Think of a data frame as something like a spreadsheet on steroids. Let's see what that looks like.

In [1]:
import pandas as pd
import numpy as np 
from mobilechelonian import Turtle
from helper.turthelp import turtle_data

### Loading Data 

Here we are downloading a `csv` (comma separated values) file of the data set stored on the cybera cloud. This is done using the pandas command `read_csv`, where the argument we pass it looks huge and terrible, but that's _actually_ just the file name!

In [2]:
csv_file = "https://swift-yeg.cloud.cybera.ca:8080/v1/AUTH_233e84cd313945c992b4b585f7b9125d/callysto-open-data/turtles_drawings.csv"
df = pd.read_csv(csv_file)
df

      angle direction  length  order        shape   color
0       NaN   forward   100.0     49   box_flower  purple
1     144.0     right     NaN     69  spiral_star    blue
2       NaN   forward    80.0     16  spiral_star  yellow
3      45.0      left     NaN     14       flower   brown
4     135.0      left     NaN      3       flower    blue
...     ...       ...     ...    ...          ...     ...
3901    NaN   forward   230.0     46  spiral_star   green
3902    NaN   forward    25.0     13       circle     red
3903   45.0      left     NaN     82       flower   black
3904    NaN   forward   100.0     81   box_flower   black
3905   90.0      left     NaN      3   box_flower   brown

[3906 rows x 6 columns]

## Using the `turtle_data` Function To Draw Shapes

We've provided a simple function which can parse the Data Frames above to draw turtle graphics so you can focus on manipulating the data frame. The cell below demonstrates how to use it. In this case, the `turtle_data` function simply takes the turtles DataFrame as input, and it handles the rest. This is demonstrated below. **Note**: The demonstration below will not actually look correct. This is intentional.

In [4]:
demo_frame = df[df['shape'] == 'box']
turtle_data(demo_frame)

Turtle()

##  Task

Filter the data appropriately to draw the box, then try other shapes/colors!

In [ ]:
# enter code below